body{
    margin: o;
    padding: 0;

}
header{
    text-align: center;
    background: url(./images/pattern-bg-desktop.png);
    padding: 2rem;
    color: #fff;
}
.header-content{
    max-width: 600px;
    margin: 0 auto;
}
header input{
   padding: 0.5rem 6rem;
    border-radius: 10px;
    padding-left: 10px;
    border: none;

}
header button{
    padding: 0.4rem 1rem;
    border-radius: 8px;
    background-color: black;
    color: #fff;
    font-weight: 900;
    border: none;
    cursor: pointer;
}
#map{
    height: 400px;
}